@import 'tailwindcss';

@theme {
  /* Catppuccin - Latte */
  --color-rosewater: #dc8a78;
  --color-flamingo: #dd7878;
  --color-pink: #ea76cb;
  --color-mauve: #8839ef;
  --color-red: #d20f39;
  --color-maroon: #e64553;
  --color-peach: #fe640b;
  --color-yellow: #df8e1d;
  --color-green: #40a02b;
  --color-teal: #179299;
  --color-sky: #04a5e5;
  --color-sapphire: #209fb5;
  --color-blue: #1e66f5;
  --color-lavender: #7287fd;
  --color-text: #4c4f69;
  --color-subtext1: #5c5f77;
  --color-subtext0: #6c6f85;
  --color-overlay2: #7c7f93;
  --color-overlay1: #8c8f9f;
  --color-overlay0: #9ca0ad;
  --color-surface2: #acb0bc;
  --color-surface1: #bcc0cc;
  --color-surface0: #cdd0dc;
  --color-base: #eff1f5;
  --color-mantle: #e6e9ef;
  --color-crust: #dce0e8;
}
